<% layout("boilerplate") %>
<title>Waiting Room</title>
<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
    }

    .timer {
        font-size: 3em;
        color: #333;
        margin-bottom: 20px;
    }

    .message {
        font-size: 1.5em;
        color: #555;
    }
    .redirect-button {
        display: none; /* Hidden initially */
        padding: 10px 20px;
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        background-color: #5A9;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        border: 1px solid #333333;
        margin-top: 20px;
    }
</style>
<body>
    <div class="timer" id="timer">00:00</div>
    <div class="message">Me usse samjha ke lata hu, bhot bolta h. But aate hi sorry bolega. <br>
        But, one thing to admit, he loves you ♥, ALOT !! <br>
        I have sent him the mail, aata hi hoga nikamma !! <br>
        Ab to smile kar do ⌣ ⌣</div>
    <a id="redirectButton" class="redirect-button" href="<%= meeturl %>">Join the Meeting</a>
    <script>
        var duration = <%= duration %>; // Time from the form submission
        var timerDisplay = document.getElementById('timer');
        var redirectButton = document.getElementById('redirectButton');

        function startTimer(duration) {
            var timer = duration, minutes, seconds;
            var countdown = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                timerDisplay.textContent = minutes + ":" + seconds;
                if (timer < duration-10) {
                    redirectButton.style.display = 'inline-block'; // Show the redirect button
                }
                if (--timer < 0) {
                    clearInterval(countdown);
                    window.location.href = "<%= meeturl %>"; // Redirect to the meeting URL
                }
            }, 1000);
        }
        window.onload = function () {
            startTimer(duration);
        };
    </script>
</body>
